extends layout

block content
 h1 Run through examples for Express!
 .btn
  a(href='/songs') See all songs
 p
 .btn 
  a(href='/songs/Highway To Hell') Take the highway to hell!
 p
 .btn 
  a(href='/songs/another one') Try another song!
