extends layout

block content
 h1 Run through examples for Express!
 .btn Load up a static file from a server
 p
 .btn Load up a file based on search criteria
 p
 .btn Load a list of files that contains the search criteria
 