doctype 5
html
  head
    h1 Express Examples
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
  body
    div.container 
      block content
  footer
    div.container
     a(href='/') 
      i.icon-home 